language: go

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-6
    - g++-6

go:
  - "1.10.x"

before_install:
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 90

stages:
  - name: tests
  - name: release to github
    if: tag IS present

jobs:
  include:
    - stage: tests
      name: "Unit Tests"
      script: make test-coverage codecov
    - script: make test-sdk
      name: "SDK Integration Tests Linux"
    - script: make test-sdk
      name: "SDK Integration Tests macOS"
      os: osx
      osx_image: xcode9.4
      before_install: skip
    - script:
      - cp config.yml.tpl config.yml
      - make test-json
      name: "Lookout serve Integration Tests Linux"
    - script:
      - cp config.yml.tpl config.yml
      - make test-json
      name: "Lookout serve Integration Tests macOS"
      os: osx
      osx_image: xcode9.4
      before_install: skip
    - script:
        - make protogen
        - make no-changes-in-commit
        # check that proto files are buildable by python
        - sudo apt-get --no-install-recommends -y install python3-pip
        - sudo pip3 install -U pip setuptools wheel
        - pip3 install --user grpcio-tools
        - export PY_OUT_DIR=py
        - mkdir -p "$PY_OUT_DIR" && python3 -m grpc_tools.protoc -Isdk --python_out=$PY_OUT_DIR --grpc_python_out=$PY_OUT_DIR sdk/*.proto
      name: "Protobuf code generation"
    - stage: release to github
      name: "linux packages"
      script: PKG_OS="linux" make packages-sdk
      deploy: &deploy_anchor
        provider: releases
        api_key: $GITHUB_TOKEN
        file_glob: true
        file: build/*.tar.gz
        skip_cleanup: true
        on:
          all_branches: true
    - stage: release to github
      name: "macOS packages"
      os: osx
      osx_image: xcode9.4
      before_install: skip
      script: PKG_OS="darwin" make packages-sdk
      deploy: *deploy_anchor

cache:
  directories:
    - $HOME/protoc
    - $HOME/.cache/pip/wheels
