.App {
  padding: 0 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > a {
  color: #61dafb;
}
